.result-added > * {
	border-left: 2px solid var(--theme);
	padding-left: 4px;
}

.results-full:not(.result-added),
.result-overlaps:not(.result-added) {
	opacity: 0.5;
}

@media (max-width: 600px) {
	.results-full:not(.result-added),
	.result-overlaps:not(.result-added) {
		opacity: 0.6;
	}
}
