.column-slot {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border: 0 solid var(--border-color);
	border-width: 0 0 1px 0;
	overflow: hidden;
}

.mini .column-slot {
	height: max-content !important;
}

.mini .class {
	border-left-width: 1px;
	border-right-width: 1px;
}

.schedule:not(.mini) .class:hover {
	overflow: visible;
}

.gap {
	color: var(--lighter);
}

.mini .blank {
	display: none;
}

.cell-content {
	padding: 3px;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.mini .cell-content {
	padding: 6px 3px;
}

.class .cell-content {
	background: var(--bg-darker);
}

.schedule:not(.mini) .class .cell-content {
	position: absolute;
	top: 0;
	left: 0;
	transition:
		left 15ms linear,
		top 15ms linear,
		border-color 15ms linear,
		box-shadow 15ms linear;
}

.class-GET_STARTED .cell-content {
	font-size: 125%;
}

.class-LEC .cell-content {
	background: var(--bg-blue);
}

.class-TUT .cell-content {
	background: var(--bg-purple);
}

.class-TST .cell-content {
	background: var(--bg-green);
}

.class-LAB .cell-content {
	background: var(--bg-orange);
}

.class-SEM .cell-content {
	background: var(--bg-yellow);
}

.schedule:not(.mini) .class:hover .cell-content {
	top: -3px;
	left: -3px;
	box-shadow:
		var(--border-color) 3px 3px 0px 0px,
		var(--border-color) 0px 0px 0px 1px;
	z-index: 1;
}
