.column-slot,
.schedule:not(.mini) .class:hover > .slot-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.column-slot {
	border-color: inherit;
	border-style: inherit;
	border-width: 0 0 1px 0;
}

.mini .column-slot {
	height: max-content !important;
}

.class {
	background: #eee;
	transition:
		left 15ms linear,
		top 15ms linear,
		border-color 15ms linear,
		box-shadow 15ms linear;
	position: relative;
	top: 0;
	left: 0;
}

.mini .class {
	border-left-width: 1px;
	border-right-width: 1px;
	padding: 3px 0;
}

.class-LEC {
	background: #e5f0fa;
}

.class-TUT {
	background: #f4e2fd;
}

.class-TST {
	background: #e4fbe4;
}

.class-LAB {
	background: #fcf3e3;
}

.class-SEM {
	background: #fbfbe4;
}

.class-MULTI {
	background: #e4e4e4;
}

.class-GET_STARTED > * {
	font-size: 125%;
}

.gap {
	color: #333;
}

.mini .blank {
	display: none;
}

.column-slot > * {
	overflow: hidden;
	padding: 3px;
}

.schedule:not(.mini) .class:hover {
	top: -3px;
	left: -3px;
	box-shadow:
		#888 3px 3px 0px 0px,
		#666 0px 0px 0px 1px;
	border-color: transparent;
}

.schedule:not(.mini) .class:hover > .slot-content {
	position: absolute;
	overflow: visible;
	min-width: 100%;
	min-height: 100%;
}
