.schedule-container {
	flex: 1;
	height: 0;
	position: relative;
	display: flex;
	flex-direction: column;
}

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 175%;
	position: absolute;
	z-index: 4;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #0002;
}

.schedule {
	overflow: auto;
	background: center / cover url(/logo.svg);
}

.columns {
	display: grid;
	grid-template-columns: auto repeat(5, 1fr);
	grid-template-rows: min-content auto;
	min-width: 50em;
	font-size: 11px;
	background-color: rgba(255, 255, 255, 0.95);
}

.mini .columns {
	grid-template-columns: repeat(5, 1fr);
	column-gap: 8px;
}

.header,
.column {
	border-color: #666;
	border-style: solid;
}

.header {
	position: sticky;
	top: 0;
	background: #fff;
	text-align: center;
	border-width: 0 0 1px 0;
	padding-bottom: 4px;
	font-size: 125%;
}

.scrolled-y .header {
	z-index: 3;
}

.mini .header:first-child {
	display: none;
}

.mini .header-empty-col {
	border-width: 0;
}

.column {
	display: flex;
	flex-direction: column;
	min-width: 3em;
	width: 100%;
	border-width: 0;
}

.schedule:not(.mini) .column {
	border-right-width: 1px;
}

.time-column {
	position: sticky;
	left: 0;
	background: var(--theme-light);
	border-left-width: 1px;
}

.scrolled-x .time-column {
	z-index: 2;
}

.mini .time-column {
	display: none;
}

@media (min-width: 600px) {
	.schedule-container {
		height: unset;
		width: 0;
	}
}
